h2{ 
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.span {
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.name {
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.input{
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.campos{
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.img{
    margin-bottom: 8px;
    border-radius: 20px;
}

