.componente-nome{
    color: palevioletred;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
}

.componente-sal{
    font-family: 'Courier New', monospace;
    color: green;
}

.money{
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}

.componente-idade{
    font-weight: bold;
}